* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #F6F6F7;
    font-family: "Inter", sans-serif;
}
.cart-main {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin: 2% 20% 0% 20%;
    padding: 3%;
    flex-direction: column;
    line-height: 25.51px;
}
.cart-header {
    color: #FF6B82;
    font-size: 21.08px;
    text-align: center;   
    font-optical-sizing: auto;
    font-weight: 700px;
}
.cart-content {
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 0px #A7A7A740;
    margin: 15px 50px 15px 50px;
    display: flex;
    flex-direction: row;
}
.cart-content-off {
    background-color: #FF6B82;
    color: #FFFFFF;
    background:cover;
    text-align: center;
    padding: 15px;
    border-radius:15px 0px 0px 15px;
    margin: -1px 0px -1px -1px;
}
.cart-content-off-right {
    border: 1px dashed #FFFFFF;
    margin-left: -1px;
}
.cart-content-buy-get {
    margin-left: 10px;
    font-size: 14.46px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
input[type="radio"] {
    accent-color: #FF0000;
}
input:checked {
    background-color: #FF6B82;
}
.cart-price {
    margin-left: 10px;
}
.cart-price span {
    font-weight: bold;
}
.cart-most-popular {
    color: #FF6B82;
    font-size: 16.92px;
    margin-left: 220px;
}
.cart-total {
    font-size: 12px;
    display: flex;
    flex: row;
    margin: 5px 0px 15px 35px;
}
.cart-total span {
    color: #FF6B82;
}
.cart-total-price {
    margin-left: auto;
    margin-right: 35px;
}
.cart-button {
    margin: 0px 35px 0px 35px;
}
.cart-button button{
    padding: 10px;
    border: 0;
    outline: none;
    width: 100%;
    background-color: #FF6B82;
    color: #FFFFFF;
    border-radius: 5px;
}
.cart-footer {
    margin-top: 10px;
}
.cart-footer p {
    text-align: center;
}
.cart-footer p span {
    font-weight: bold;
    color: #FF6B82;
}
#cart-1-v2, #cart-2-v2, #cart-3-v2 {
    display: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .cart-content {
        margin: 15px 30px 15px 30px;
    }
    .cart-content-buy-get {
        margin-left: 15px;
        font-size: 12px;
    }
    .cart-price {
        margin-left: 15px;
    }
    .cart-most-popular {
        font-size: 10px;
        margin-left: 80px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .cart-content {
        margin: 15px 30px 15px 30px;
    }
    .cart-content-buy-get {
        margin-left: 20px;
        font-size: 12px;
    }
    .cart-price {
        margin-left: 20px;
    }
    .cart-most-popular {
        margin-left: 100px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .cart-most-popular {
        margin-left: 180px;
    }
}
@media screen and (max-width: 992px) {
    .cart-main {
        margin: 5% 8% 0% 8%;
        padding: 2%;
    }
    .cart-content {
        margin: 15px 30px 15px 30px;
    }
    .cart-content-buy-get {
        margin-left: 5px;
        font-size: 12px;
    }
    .cart-price {
        margin-left: 5px;
    }
    .cart-price span {
        font-weight: bold;
    }
    .cart-most-popular {
        font-size: 10px;
        margin-left: 15px;
    }
}
